<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="content-form-cadastro">
        <h1>formularia de cadastro</h1>
        <form action="/registerBooks" method="post">
          <div class="input-book-image">
            <label for="book_image"></label>
            <input
              type="file"
              name="book_image"
              class="book_image"
              placeholder="nome completo"
              id="book_image"
              accept="image/*"
            />
            <% //if(msg.msgNameError){%>
            <div class="msgError"><%=// msg.msgNameError %></div>
            <% //} %>
          </div>
          <div class="input-book-name">
            <label for="book_name"></label>
            <input
              type="text"
              name="book_name"
              class="book_name"
              placeholder="Digite o nome do Livro"
              id="book_name"
            />
            <%// if( msg.msgEmailError){%>
            <div class="msgError"><%=// msg.msgEmailError %></div>
            <%// } %>
          </div>
          <div class="input-book-categoria">
            <label for="book_categoria"></label>
            <input
              type="text"
              name="book_categoria"
              class="book_categoria"
              placeholder="Digite uma categoria"
              id="book_categoria"
            />
            <% //if(msg.msgPassError){%>
            <div class="msgError"><%= //msg.msgPassError %></div>
            <%//} %>
          </div>
          <div class="input-book-desc">
            <label for="book_desc"></label>
            <textarea
              name="book_desc"
              class="book_desc"
              placeholder="Digite a descrição do Livro"
              id="book_desc"
            ></textarea>
            <% //if(msg.msgPassError){%>
            <div class="msgError"><%= //msg.msgPassError %></div>
            <%// } %>
          </div>
          <div class="content-btn">
            <button>cadastro</button>
          </div>
          <% if(msgSuccess){%>
          <div class="msgError"><%= msgSuccess %></div>
          <% } %>
        </form>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
