<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <section id="home" class="home">
        <div class="space">
          <h1>Gente que ajuda gente!</h1>
          <div class="div-principal">
            <div class="div-esquerda">
              <!-- <p>teste 12345</p> -->
              <img src="/img/img.png" />
            </div>

            <div class="div-centro">
              <img src="/img/moletom.png" />
            </div>
          </div>
        </div>
      </section>

      <section id="quemSomos" class="quemsomos">
        <div class="space">
          <% pages.forEach((page) => {%>
          <div>
            <% if (page.position_name === "Quem somos"){ %>
            <div><%- page.page_content %></div>
            <% } %>
          </div>
          <% }) %>
          <!-- FR$5TGHY6 -->
        </div>
      </section>
      <section id="comoAjudar" class="comoajudar">
        <div class="space">
          <% pages.forEach((page) => {%>
          <div>
            <% if (page.position_name === "Como Ajudar"){ %>
            <div><%- page.page_content %></div>
            <% } %>
          </div>
          <% }) %>

          <!-- <div class="ajuda">
            <img src="/img/anjos.png" width="550px" />
          </div> -->
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
