<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>

  <body>
    <%- include('components/header') %>
    <main>
      <div class="container_profile">
        <div class="content_profile">
          <h1>Meu Perfil</h1>
          <div class="content-msg grid_area">
            <% if(msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %> <a href="/profile">X</a>
            </div>
            <% } %> <% if(msgError) { %>
            <div class="msgError"><%= msgError %> <a href="/profile">X</a></div>
            <% } %>
          </div>
          <header class="menu_profile">
            <nav>
              <ul>
                <li><a href="/profile">Meu Perfil</a></li>
                <li><a href="/profile/listPosts">Posts</a></li>
                <li><a href="/profile/createPost">Criar Post</a></li>
              </ul>
            </nav>
          </header>
          <div class="fields_post">
            <h2>Criar Post</h2>
            <form
              action="/profile/createPost/<%= user.user_id %>"
              method="post"
            >
              <!-- <input type="hidden" name="user_id" value="" /> -->
              <div class="table">
                <div class="column">
                  <div class="create_post">
                    <div class="titulos">
                      <div>Titulo:</div>
                      <div>
                        <input type="text" name="post_title" />
                      </div>
                    </div>
                    <div class="dados">
                      <div>Mensagem:</div>
                      <div>
                        <textarea name="post_content" id=""></textarea>
                      </div>
                    </div>
                    <div class="btns_post" id="btns_post">
                      <span></span>
                      <div><button>Salvar Post</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
