<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main class="grid-admin">
      <div class="content-admin">
        <%- include('components/menuAdmin') %>

        <div class="admin-profile">
          <%- include('components/headerAdmin') %>
        </div>
        <div class="content-display">
          <div class="content-msg">
            <% if (msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %> <a href="/dashboard">X</a>
            </div>
            <% } %>
          </div>
          <h1>Dashboard</h1>
          <div>
            <p>
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque dolor quas magni aut. Nulla quas sed ab quibusdam cum animi nihil quaerat, corporis repellat maxime nesciunt eaque facere officiis maiores!
             Aliquid voluptate quos necessitatibus aliquam sequi molestiae vitae blanditiis numquam eveniet officia minima nihil, dolor quaerat ab non corporis suscipit praesentium neque totam iusto est. Omnis voluptate molestias similique maxime?
             Ad sapiente dolorem tenetur, quas expedita eaque nobis debitis voluptatibus dolores magni in aut. Porro debitis ipsam sit totam sunt, asperiores omnis? Quia recusandae nemo, ad quisquam quis sunt quasi.
             Accusantium, excepturi! Obcaecati saepe accusamus provident ipsam, neque non vitae ipsum odit porro sint excepturi labore earum, repellat cupiditate rem sunt itaque blanditiis? Officiis accusantium ut similique magnam repudiandae. Dignissimos!
             Rem voluptatum modi dolorum vel expedita molestias doloremque cupiditate eaque dolor voluptatem officia fugiat quasi iusto sapiente repudiandae qui labore, quod illum. Aliquid quo, optio aliquam blanditiis debitis eaque velit.
             Dolorum minus voluptatem dolor, impedit delectus corrupti tempora molestias pariatur voluptas at consequatur mollitia cumque, ducimus numquam quibusdam dicta repudiandae illum, doloribus itaque necessitatibus. Incidunt dicta odit soluta natus quasi.
             Voluptatum placeat cum fugiat amet voluptas officia vel quaerat delectus asperiores dignissimos libero natus repudiandae illo molestias, deserunt corrupti necessitatibus incidunt, nisi nulla ullam. Neque omnis ex sit aperiam beatae!
             Maiores quam itaque, sint reprehenderit eos vero est! Eaque ipsum a tenetur ipsam atque eligendi laboriosam, itaque, explicabo repudiandae commodi in fuga possimus nemo repellat expedita! Expedita incidunt at fugit.
             Blanditiis ab ratione, veniam expedita deserunt labore in vel sapiente suscipit? Quae, voluptate. Voluptate nesciunt iusto facere ratione sunt adipisci consequuntur sit, tempora distinctio nulla debitis odit magni dolorum impedit.
             Nemo, maxime hic dolor, aspernatur nesciunt aut doloribus soluta ipsam, laudantium in debitis at sed itaque. Veritatis, molestiae error nulla doloribus non incidunt, voluptatum voluptatem tempora voluptate suscipit quisquam architecto?
             Perspiciatis praesentium ea earum quam velit saepe sed. Deserunt similique molestiae quis tenetur delectus repellat laboriosam, fuga, optio voluptates cumque possimus impedit explicabo. Quidem molestiae similique nostrum. Sit, itaque doloremque?
             Aperiam minima iusto ex saepe deleniti amet quos dicta id vitae delectus facilis similique debitis nam minus quisquam optio officia eveniet, voluptate perferendis ea eaque! Ipsa accusantium quis sunt provident?
             Quis excepturi explicabo minima recusandae, tempore rerum, ab quos quaerat doloribus impedit cupiditate consectetur ad vel optio nulla sed repellendus soluta vero non. Cumque consectetur odit pariatur reprehenderit sit nam!
             Deleniti blanditiis aperiam sed mollitia. Totam iusto repellendus nostrum debitis neque molestias aperiam. Quaerat officiis ad atque ducimus, necessitatibus, possimus ullam ex alias est consequuntur accusantium veniam inventore nesciunt dolorum.
             Recusandae architecto eligendi consequatur veniam exercitationem pariatur repellendus. Obcaecati, ratione sit? Perferendis id aliquam quibusdam obcaecati vitae ut nemo ab quia, soluta neque, magni dolores quos deleniti esse saepe est.
             Vel doloremque explicabo, quaerat praesentium, aperiam reiciendis sapiente labore suscipit ratione ex modi soluta delectus exercitationem obcaecati? Facilis ipsam maiores facere laborum mollitia sequi animi, deleniti corrupti vero omnis aliquid.
             Nostrum eius officia obcaecati, ut ullam culpa, error amet, iste omnis accusamus quia. Temporibus repudiandae esse suscipit, eveniet velit eos quae reiciendis ratione, delectus vero ipsam sunt dicta nihil. Quibusdam?
             Numquam nihil, ipsa delectus veritatis eveniet incidunt nulla provident possimus quos nam, modi consectetur commodi alias odio, similique optio maxime excepturi obcaecati fugiat accusantium exercitationem consequuntur perspiciatis nisi expedita! Quis.
             Odit quibusdam ad eos ex voluptas eius, repudiandae nobis officiis deleniti, provident culpa, odio voluptate deserunt maiores. Voluptates magnam, eveniet sapiente, excepturi hic ipsum ducimus aut tempora consequatur quia alias.
             Tempore incidunt, nisi facere eligendi nemo natus totam ipsum cupiditate facilis sequi est consequuntur? Sunt eaque sed vitae ea praesentium dolorum officia reprehenderit, saepe natus. Doloremque velit quae consequatur laboriosam.
             Corrupti dolorum pariatur minima fugit natus vitae numquam libero ratione perferendis? Sequi ipsa aspernatur eos nemo distinctio non voluptatem praesentium in, sint fugiat delectus, quod quas vero vitae ad beatae?
             Maxime molestias quo praesentium, adipisci voluptatum voluptatibus perspiciatis deleniti quia ea. Molestiae, aperiam dignissimos, eius commodi placeat ad nostrum voluptas doloribus fugiat nam non rem sunt quo, recusandae ex sapiente.
             Recusandae nulla debitis praesentium deserunt eveniet repellat nam quisquam iusto ipsam officia corporis omnis vitae quam inventore eligendi, sapiente illum optio temporibus culpa ipsum! Modi sapiente aut reiciendis aliquam! Reprehenderit.
             Fugiat in tempora dicta reprehenderit illo, porro consequatur deleniti. Rerum earum laborum ullam quaerat qui doloremque voluptate explicabo reiciendis quia? Aliquam, facere ipsum esse eos facilis beatae dolores nihil dolore.
             Eligendi, deleniti suscipit! Quisquam architecto dolores commodi debitis ex rerum accusamus iste rem magnam dolorem nihil omnis quo, similique repudiandae veritatis reprehenderit recusandae ea alias. Officiis hic laudantium corporis amet.
             Nam, beatae quos sequi iste aut quod fugit eius eaque sed quia, soluta neque praesentium! Autem ipsum voluptas quo ratione sunt magni incidunt ea laborum. Enim dolore sed voluptates iste!
             Enim iure expedita reiciendis beatae quidem distinctio minima eveniet sint. Sapiente, optio perspiciatis. Provident natus amet officia soluta minima voluptatem repellat quas unde iusto! Aliquam beatae modi molestiae? Vitae, nostrum.
             Incidunt illo quibusdam error repellendus voluptatum obcaecati et odio eum id. Dolorem esse aut omnis facilis deserunt nulla, eaque nam cupiditate iure excepturi adipisci cumque consequatur quos dolore, tenetur temporibus.
             Quos officiis saepe possimus quo. Dolorum cumque unde reprehenderit accusantium odit, fuga alias eius praesentium cum earum veniam tempore amet veritatis quidem quos quae exercitationem sed quas. Deserunt, error vero?
             Labore quas sed rerum incidunt laudantium neque voluptatem nemo pariatur inventore quo numquam assumenda eligendi molestias quis dolorum quos debitis explicabo dicta, eveniet nihil possimus illum! Blanditiis esse et eum.
             Eos, quidem, consequuntur harum exercitationem qui aliquid obcaecati tenetur voluptates eius quibusdam cupiditate. Suscipit eius iste eos voluptatum. Aut accusamus, quibusdam esse numquam placeat molestiae voluptatibus totam enim dolores nostrum!
             Quisquam, aperiam animi. Nihil reprehenderit vel laboriosam et enim quos nostrum provident labore, officia natus placeat cumque, laborum incidunt rerum similique ipsum. Placeat molestias quod modi praesentium quibusdam dolorum odio.
             Animi tempore doloribus placeat eligendi ab totam debitis iste cupiditate sit alias consequuntur magnam, laudantium inventore, quidem dolores cum quas architecto aliquam quasi neque praesentium nihil eos pariatur? Illo, quisquam?
             Dolorum fuga provident, saepe eos illum dolor voluptatum doloremque ex consequatur quaerat repudiandae assumenda tempora voluptatem iusto? Corporis quasi, perferendis voluptate, eaque sint obcaecati quas, soluta consequatur quisquam repudiandae voluptas!
             Reiciendis vero ipsum, magni voluptate dolorum, perspiciatis corporis quos in laudantium voluptatum maxime eos ab illo veritatis, corrupti doloremque omnis aliquid voluptates doloribus sapiente iste impedit pariatur sequi. Consequuntur, quae.
             Nisi est necessitatibus vitae libero corrupti ipsa amet molestias consequuntur nemo? Dolores esse nostrum vel dolore natus unde. Vel expedita ullam molestiae soluta commodi voluptatem eaque eos nihil inventore animi!
             Quibusdam, placeat eaque. Quia nam dolorum doloremque iste porro. Facilis ducimus adipisci sunt consectetur rerum itaque velit, nulla dolorem maiores magnam libero officia eligendi fugiat voluptates a optio amet! Repellat!
             Fugit illo molestias facere sit unde, est cupiditate velit! Corporis quod, hic voluptas illum temporibus esse autem ratione inventore saepe delectus ex! Aliquid quia earum aut eligendi neque sequi hic.
             Reprehenderit perspiciatis eveniet aut possimus? Quibusdam facilis sunt in quod eligendi perspiciatis veritatis, culpa perferendis. Cum voluptatibus minus sed optio, tempora soluta assumenda, distinctio veritatis tempore perferendis enim, voluptatum ab.
             Dignissimos vel quasi hic nam quod reprehenderit laboriosam, suscipit pariatur soluta recusandae libero animi voluptates, dicta inventore officia optio quaerat! Delectus deserunt impedit earum vero aliquid itaque, quas hic est.
             Eligendi numquam molestiae voluptates enim voluptas laboriosam, totam fuga praesentium ipsa consectetur quos! Nihil deserunt dolore cumque dolorem tenetur rerum maiores ratione tempore in minus quos, eaque eligendi perferendis quibusdam!
             Placeat delectus distinctio maxime harum temporibus veritatis necessitatibus dolor accusantium totam at consectetur quam doloremque ad sint doloribus maiores rem, asperiores cumque inventore. Ut, quaerat sapiente in numquam tempora exercitationem?
             Accusantium, fuga, ratione error deleniti incidunt, odit iste culpa hic natus id alias fugiat esse! Nulla deserunt repudiandae architecto, dolor tenetur error incidunt omnis. Temporibus libero error cupiditate nihil voluptatum.
             Perspiciatis cupiditate eum at quos minus delectus facilis dicta consectetur ullam fugit architecto tenetur alias mollitia placeat nostrum autem excepturi nam facere dolorem exercitationem, sed voluptatem sunt velit earum! Quisquam?
             Sit neque esse ipsa necessitatibus tempore consequatur error non hic? Iure nemo sunt explicabo quam sapiente est voluptatem doloribus, consectetur molestias voluptates autem. Sint velit itaque recusandae repudiandae reiciendis dignissimos.
             Culpa fuga adipisci omnis velit pariatur magni laboriosam libero officia minima ipsam! Laudantium iste sed deleniti, velit deserunt consequatur ab molestias voluptatibus modi similique eius debitis officia ipsam quia delectus.
             Suscipit nulla, ea non blanditiis facilis id hic modi officiis cumque est explicabo, eum aliquam placeat voluptatibus saepe, eligendi voluptate mollitia? Veritatis distinctio neque laudantium officiis suscipit? Autem, fugit dolorum.
             In dolore necessitatibus laudantium nemo delectus ex aliquid dolorem repellendus illum molestias autem modi laborum maxime iste impedit recusandae voluptatum doloremque facilis quas vero eveniet, officiis iusto officia. Doloribus, voluptatum!
             Recusandae in voluptatum vitae laborum consequatur, molestias non, eius voluptate mollitia maiores nam fugiat, at similique culpa minus vel quas temporibus! Officia numquam at ducimus. Suscipit veniam id inventore provident?
             Aspernatur natus iusto eveniet rerum. Eum reprehenderit aut veniam et nihil cum voluptas voluptatum ipsa. Placeat animi tenetur corporis labore laboriosam quod similique porro corrupti facilis? Repellat explicabo nisi quod!
             Dolorem officiis aspernatur, quasi expedita excepturi quisquam fugit et rem ipsa in culpa optio quia sint ullam eum, veritatis totam delectus perspiciatis doloribus. Ex odio enim, nostrum dolorum minima ipsa.
             Doloribus corporis autem veniam nulla asperiores veritatis. Voluptatibus ipsa nesciunt omnis, officia provident quis voluptates suscipit reiciendis facilis sint, veritatis hic odit libero dolores tempora itaque laboriosam error ipsum recusandae.
             Aliquid, delectus placeat. Illum, aspernatur. Nisi hic expedita ducimus quod dolor. Nam voluptatum harum dolor ea voluptatibus ducimus nulla non numquam incidunt voluptas, aut, aliquam exercitationem labore facere soluta omnis?
             Omnis possimus cupiditate repudiandae explicabo assumenda eius deleniti? Voluptas eius rem excepturi illum, at cupiditate praesentium. Voluptatibus impedit, fugiat consectetur tempore esse id, sapiente, rem cum sunt cupiditate facilis iure!
             Quisquam illo ea autem iusto! Quam unde soluta impedit tempore architecto similique ducimus voluptatem distinctio fuga, est quos esse neque saepe, suscipit qui itaque tempora! Saepe quis ab veniam atque?
             Debitis maxime, est quod corporis similique placeat eveniet earum sint doloremque obcaecati tenetur dolorem, alias fugit fuga adipisci in numquam consequatur dolore, quis facilis perspiciatis soluta repellat vitae cumque. Doloribus!
             Maiores, reiciendis excepturi? Quidem suscipit tempore illo voluptatem cum veritatis earum sequi nobis dolor maxime expedita iusto, soluta magnam, at ex. Libero maxime ipsam, repudiandae quam illo culpa iste obcaecati.
             Soluta sunt enim ut voluptatem dolor consequatur sapiente distinctio necessitatibus perferendis laboriosam aliquam explicabo eum minus provident ducimus, commodi inventore est adipisci, voluptate voluptatibus? Obcaecati quam aliquid atque pariatur ratione.
             Inventore, velit sed eum assumenda doloribus rem corporis soluta porro modi, voluptates reiciendis iusto ab non! Architecto, repellat impedit voluptates dicta corporis nobis beatae nostrum nam delectus, magnam optio distinctio!
             Quasi vero, ipsa, eaque similique explicabo mollitia sint dicta suscipit ad aliquid odio, distinctio porro! Earum perspiciatis eos, reiciendis laboriosam fuga necessitatibus voluptatibus. Quaerat obcaecati suscipit sunt unde fugiat voluptatibus.
            </p>
          </div>
        </div>
        
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
