<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>

  <body>
    <%- include('components/header') %>
    <main>
      <div class="container_profile">
        <div class="content_profile">
          <h1>Meu Perfil</h1>
          <div class="content-msg grid_area">
            <% if(msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %>
              <a href="/reclamacoes/createPostReclamacoes">X</a>
            </div>
            <% } %> <% if(msgError) { %>
            <div class="msgError">
              <%= msgError %> <a href="/reclamacoes/createPostReclamacoes">X</a>
            </div>
            <% } %>
          </div>
          <header class="menu_profile">
            <nav>
              <ul>
                <li><a href="/reclamacoes">Meu Perfil</a></li>
                <li>
                  <a href="/reclamacoes/listPostsReclamacoes">
                    Minhas Reclamações
                  </a>
                </li>
                <li>
                  <a href="/reclamacoes/createPostReclamacoes">
                    Criar Reclamação
                  </a>
                </li>
              </ul>
            </nav>
          </header>
          <div class="fields_post">
            <h2>Criar Reclamação</h2>
            <form
              action="/reclamacoes/createPostReclamacoes/<%= user.user_id %>"
              method="post"
              enctype="multipart/form-data"
            >
              <!-- <input type="hidden" name="user_id" value="" /> -->
              <div class="table">
                <div class="column">
                  <div class="create_post">
                    <div class="titulos">
                      <div>Titulo:</div>
                      <div>
                        <input type="text" name="post_reclamacoes_title" />
                      </div>
                    </div>
                    <div class="bairro">
                      <div>Bairro:</div>
                      <div>
                        <input type="text" name="post_reclamacoes_bairro" />
                      </div>
                    </div>
                    <div class="cidade">
                      <div>Cidade:</div>
                      <div>
                        <input type="text" name="post_reclamacoes_cidade" />
                      </div>
                    </div>
                    <div class="estado">
                      <div>Estado:</div>
                      <div>
                        <input type="text" name="post_reclamacoes_uf" />
                      </div>
                    </div>
                    <div class="content_image">
                      <div class="img_rec">
                        <div>Selecione uma imagem:</div>
                        <label for="input_rec">
                          <img src="/img/image.png" alt="" id="profile" />
                        </label>
                      </div>
                      <input
                        type="file"
                        name="user_img_profile"
                        class="input_profile"
                        id="input_rec"
                        accept="image/*"
                        value="/img/image.png"
                      />
                    </div>
                    <div class="dados">
                      <div>Mensagem:</div>
                      <div>
                        <textarea
                          name="post_reclamacoes_content"
                          id=""
                        ></textarea>
                      </div>
                    </div>
                    <div class="btns_post" id="btns_post">
                      <span></span>
                      <div><button>Salvar Post</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
