<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main class="grin-admin">
      <div class="content-admin">
        <%- include('components/menuAdmin') %>
        <div class="admin-profile">
          <%- //include("components/headerAdmin") %>
        </div>
        <div class="content-display">
          <div class="content-msg">
            <% if (msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %><a href="/dashboard">X</a>
            </div>
            <% } %>
          </div>
          <h1>Dashboard</h1>
          <div>
            <p>
              A finalidade do nosso site,basicamente é, ser um porta voz para as
              pessoas que precisam de ajuda,pessoas sem saneamento, nosso site
              ajuda eles a mostrarem o que esta errado, e como esta a vida, com
              isso, divulgamos esses casos,para que possamos melhorar a vida do
              proximo, e dar total digninidade para os necessitados,o maximo que
              nos conseguirmos
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
