<!DOCTYPE html>
<html lang="pt-br">
    <%- include('components/head')%>
<body>
    <%- include('components/header')%>
    <main>
        <div class="container_profile">
            <div class="content_profile">
                <h1>Meu Perfil</h1>
                <div class="content-msg grid_area">
                    <% if(msgSuccess) { %>
                    <div class="msgSuccess"><%= msgSuccess %>
                        <a href="/reclamacoes/createPostReclamacoes">X</a>
                        </div>
                        <% } %> <% if (msgError) { %>
                            <div class="msgError"> <%= msgError %> <a href="/reclamacoes/createPostReclamacoes">X</a>
                            </div>
                       <% } %>
                    </div>
                    <header class="menu_profile">
                        <nav>
                            <ul>
                                <li><a href="/reclamacoes">Meu Perfil</a></li>
                                <li>
                                    <a href="/reclamacoes/listPostsReclamacoes">
                                        Minhas Reclamações
                                    </a>
                                </li>
                                </ll>
                                <a href="/reclamacoes/createPostReclamacoes">
                                    Criar Reclamação
                                </a>
                            </li>
                            </ul>
                        </nav>
                    </header>
                    <div class="list_posts">
                        <h2>Suas Reclamações</h2>
                        <div class="table">
                            <div class="row_post">
                                <div class="column">
                                    <div class="header_post">
                                        <div>Titulo da Reclamação</div>
                                        <div>Editar</div>
                                        <div>Deletar</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <% posts.array.forEach(post => { %>
                                        <div class="list">
                                            <div><%= post.post_reclamacoes_title %></div>
                                        </div>
                                        <a
                                        href="/reclamacoes/editPostReclamacoes/<%= post.post_reclamacoes_id %>"
                                        >Editar</a
                                        >
                                        </div>
                                        </div>
                                        <a
                                        href="#"
                                        onclick="openDeleteModal(`<%= post.post_reclamacoes_id %>`, `<%= post.post`)"
                                        >
                                        Deletar
                                        </a>
                                        </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal hide-modal" id="modal">
                <form action="" method="post">
                    <div class="content-delete" id="content-delete">
                        <p>Voce esta prestes a deletar o post</p>
                        <h3></h3>
                        <h4>
                            Se voce realmente quer deletar clique em Deletar se nao cliqueem Cancelar
                        </h4>
                        <div class="btns_delete">
                            <button class="btn_cancel"id="Cancelar" type="reset">
                                Cancelar
                            </button>
                            <button class="btns_delete">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
         </main>
         <%- include('components/footer') %>
         </body>
         </html>