<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <section class="home-page">
        <div class="content-post">
          <div class="article-post">
            <div class="img-post">
              <img src="/img/montanha.jpg" alt="" />
            </div>
            <div class="desc">
              <a href="#">
                <h3>titulo do post</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Facere quos assumenda consequatur blanditiis nemo eos ipsum
                  eaque reiciendis voluptatum quia. Nobis similique ea animi et
                  odit optio provident doloribus neque!
                </p>
              </a>
            </div>
          </div>
          <div class="article-post">
            <div class="img-post">
              <img src="/img/montanha.jpg" alt="" />
            </div>
            <div class="desc">
              <a href="#">
                <h3>titulo do post</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Facere quos assumenda consequatur blanditiis nemo eos ipsum
                  eaque reiciendis voluptatum quia. Nobis similique ea animi et
                  odit optio provident doloribus neque!
                </p>
              </a>
            </div>
          </div>
          <div class="article-post">
            <div class="img-post">
              <img src="/img/montanha.jpg" alt="" />
            </div>
            <div class="desc">
              <a href="#">
                <h3>titulo do post</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Facere quos assumenda consequatur blanditiis nemo eos ipsum
                  eaque reiciendis voluptatum quia. Nobis similique ea animi et
                  odit optio provident doloribus neque!
                </p>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="show_all_posts">
          <div class="list_posts">
            <% if (posts.length > 0) { posts.forEach(post => { %>
            <div class="show_post">
              <div class="user_post">
                <div class="user_img">
                  <img src="<%= post.user_img_profile %>" alt="" />
                </div>
                <div class="user_name">
                  <span><%= post.user_name %></span>
                </div>
              </div>
              <div class="by_post">
                <h1><%= post.post_title %></h1>
                <div><%= post.post_content %></div>
              </div>
            </div>
            <% }) } else { %>
            <div class="no_posts">
              <h3>Nenhum post Encontrado!</h3>
            </div>
            <%} %>
          </div>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
